* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
h1 {
    color: yellow;
}
.header {border: 1px solid wheat
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
}
.nav-item {
	padding: 0 20px;
}
.nav-link {
    color: chocolate;
}


